@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Belanosima:wght@400;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500&family=Syne:wght@400;500;600;700;800&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,700;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,900&family=Darker+Grotesque:wght@300;400;500;600;900&family=El+Messiri:wght@400;500;600;700&family=Jost:ital,wght@0,100;0,200;0,300;0,500;0,800;1,100;1,200;1,300;1,500;1,700;1,800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Manrope:wght@200;300;400;600;700;800&family=Reem+Kufi:wght@500;600;700&family=Syncopate:wght@400;700&family=Unbounded:wght@200;300;400;500;600;700;800;900&family=Kalam:wght@700&family=Bubblegum+Sans&family=Permanent+Marker&family=Rubik+Vinyl&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;1,100;1,300;1,400;1,500;1,700;1,800&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Major+Mono+Display&family=Megrim&family=Quicksand:wght@300&family=Montserrat+Subrayada:wght@400;700&family=Press+Start+2P&family=Rubik+Mono+One&family=Tenor+Sans&family=Julius+Sans+One&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&family=Anton&family=Oswald:wght@400;500;600;700&family=Bebas+Neue&family=Abril+Fatface&family=Afacad:ital,wght@0,400..700;1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mrs+Saint+Delafield&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Nanum+Myeongjo&family=Poiret+One&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./three.module.css";
@import "./menu.module.css";

@layer base {
  body {
    --yellow: #d0b20b;
    --purple: #400578;
    scroll-behavior: smooth;
  }

}
@layer base {
h1, 
h2, 
h3, 
h4 {
  display: inherit;
  vertical-align: text-top;
}}

body {
  margin: 0;
}

.outline {
    color: white; /* Unfortunately you can't use transparent here … */
    text-shadow:
	   -1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		 1px 1px 0 #000
}

/* Real outline for modern browsers */
@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
    .outline {
        color: transparent;
        -webkit-text-stroke: 2px black;
		text-stroke: 2px black;
        text-shadow: none;
    }
}
